.preview {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  font-family: 'Lato', sans-serif;
  overflow: auto;
  font-size: 18px;
  padding: 2rem 4rem;
  border-left: 1px solid black;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.preview::-webkit-scrollbar {
  display: none;
}

.preview p {
  line-height: 1.5;
}

.preview li {
  line-height: 1.8;
}